<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-light bg-light justify-content-between mx-2">
    <div class="d-flex gap-2 align-items-center">
      <%= image_tag "popcorn.png", alt: "Logo cinema", width: 50 %>
      <a class="navbar-brand"><strong>GO CINECORN</strong></a>
    </div>

    <form class="form-inline">
      <% if controller_name == 'lists' && action_name == 'index' %>
       <%= link_to 'Create a new list', new_list_path, class:"btn btn-new m-2 text-decoration-none"%>
      <% elsif controller_name == 'lists' && action_name == 'show' %>
        <%= link_to 'Back', lists_path, class:"btn btn-back m-2 text-decoration-none"%>
        <%= link_to 'Create a bookmark', new_list_bookmark_path(@list.id), class:"btn btn-new m-2 text-decoration-none"%>
      <% elsif controller_name == 'bookmarks' && action_name == 'new' %>
        <%= link_to 'Back', list_path(@list.id), class:"btn btn-new m-2 text-decoration-none"%>
      <% end %>
    </form>
  </nav>
    <%= yield %>
  </body>
</html>
